NEXT_PUBLIC_PORTAL_TITLE=Portal de Aprovacao de Pagamentos
NEXT_PUBLIC_APP_ENV=development
NEXT_PUBLIC_DEMO_MODE=true
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_N8N_API_URL=https://capn8nwfhmg.azurewebsites.net/webhook/api/router
API_AUTH_TOKEN=
AUTH_ENABLED=false
AUTH_APP_BASE_URL=http://localhost:3000
AUTH_COOKIE_SECURE=false
AUTH_IDENTIDADE_AUTHORIZE_URL=https://identidadehmg.magcap.com.br/connect/authorize
AUTH_IDENTIDADE_TOKEN_URL=https://identidadehmg.magcap.com.br/connect/token
AUTH_IDENTIDADE_CLIENT_ID=usr_cap_hmg
AUTH_IDENTIDADE_CLIENT_SECRET=
AUTH_IDENTIDADE_SCOPE=dash.beneficio
AUTH_IDENTIDADE_REDIRECT_URI=http://localhost:3000/
