NEXT_PUBLIC_PORTAL_TITLE=Portal de Aprovacao de Pagamentos
NEXT_PUBLIC_APP_ENV=development
NEXT_PUBLIC_ENABLE_MOCKS=true
NEXT_PUBLIC_API_BASE_URL=https://api.interna.exemplo.com
NEXT_PUBLIC_PAYMENTS_API_PATH=/payment-batches
API_AUTH_TOKEN=

NEXT_PUBLIC_APPROVALS_WEBHOOK_BASE_URL=https://capn8nwfhmg.azurewebsites.net/webhook/603abf2b-0367-4379-b3a7-0407fd7878eb
APPROVALS_WEBHOOK_BASE_URL=https://capn8nwfhmg.azurewebsites.net/webhook/603abf2b-0367-4379-b3a7-0407fd7878eb
